{% extends 'notes/base.html' %}
{% load crispy_forms_tags %}

{% block webpage_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today And Save Your Notes With Ease</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already Have An Account? <a class="ml-2" href="{% url 'login' %}" style="text-decoration: none; font-weight: bold;">Sign In</a> </small>
        </div>
    </div>
{% endblock webpage_content %}
    